body {
  font-family:Arial, Helvetica, Sans-serif;
  font-size:10pt;
  background-color:#ccccd0;
  margin:0px;
  margin-right:2px;
  padding:0px;
  border:0px;
}
body.fullscreen {
  margin:0px;
  background-color:#ffffff;
  overflow:hidden;
}
.tabs {
  margin:0px;
  padding:0px;
  border:0px;
}
.tab {
  display:inline-block;
  vertical-align:text-bottom;
  border:1px solid #777777;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:16px;
  padding-right:12px;
  padding-left:6px;
  position:relative;
  cursor:pointer;
  padding-top:2px;
  padding-bottom:2px;
}
.tab0 {
   background: -webkit-gradient(linear, left top, left bottom, from(#ddddff), to(#bbbbff));
}
.tab0.inactivetab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddddff), to(#ddddff));
}
.tab1 {
   background: -webkit-gradient(linear, left top, left bottom, from(#ffaaaa), to(#ff8888));
}
.tab1.inactivetab:hover {
   background: -webkit-gradient(linear, left top, left bottom, from(#ffaaaa), to(#ffaaaa));
}
.tab2 {
   background: -webkit-gradient(linear, left top, left bottom, from(#bbffbb), to(#99ff99));
}
.tab2.inactivetab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccffcc), to(#ccffcc));
}
.tab3 {
   background: -webkit-gradient(linear, left top, left bottom, from(#ffeebb), to(#ffda70));
}
.tab3.inactivetab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeebb), to(#ffeebb));
}

.newtab {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbffff), to(#99ffff));
}
.newtab.inactivetab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbffff), to(#bbffff));
}
.inboxtab {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbffff), to(#99ffff));
}
.inboxtab.inactivetab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbffff), to(#bbffff));
}
.activetab {
  border-bottom-width:0px;
  padding-top:4px;
  padding-bottom:4px;
}
.stack {
  margin:0px;
  padding:0px;
  background-color:#ff8888;
  z-index:1;
  border:1px solid #777777;
  width:100%;
  top:-1px;
  position:relative;
  min-height:900px;
}
.pagecontrols {
  padding-top:8px;
  padding-bottom:6px;
  padding-left:20px;
  border-bottom:1px solid #dedede;
}
.inbox {
  font-size:10.5pt;
  position:relative;
  margin:12px;
  border:1px solid #777777;
  min-height:700px;
  background-color:#eaeae6;
  border-radius:6px;
}
.inboxcontrols {
  padding-top:8px;
  padding-bottom:6px;
  padding-left:20px;
  border-bottom:1px solid #dedede;
  margin-left:4px;
}
.inboxcheckbox {
  float:left;
  margin-left:6px;
  margin-right:6px;
}
.inboxitem {
  padding-top:2px;
  padding-bottom:2px;
  background-color:#f7f7f7;
  border-bottom:1px solid #dedede;
  color:#615852;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  margin-left:4px;
  border-left:1px solid #dedede;
  cursor:pointer;
}
.inboxitemnew {
  font-weight:bold;
  background-color:white;
  color:black;
}
.inboxitemselected {
  background-color:#bbdafd;
}
.inboxauthor {
  font-weight:normal;
  float:left;
  width:200px;
  display:inline-block;
  color:black;
  text-overflow:ellipsis;
}
.inboxtime {
  text-align:right;
  float:right;
  min-width:40px;
  margin-left:16px;
  margin-right:6px;
}
.inboxlabel {
    display:inline-block;
    border-radius:2px;
    border:0px solid black;
    padding-right:2px;
    padding-left:2px;
    margin-right:3px;
    font-size:12px;
    color:black;
}
.page {
  background-color:white;
  position:relative;
  min-height:720px;
  margin:0px;
  padding:0px;
}
.pagecontent {
  -webkit-transform-origin: top left;
}
.pagecontainer {
  padding:0px;
  margin:12px;
  margin-right:162px;
  border:1px solid #777777;
  border-radius:6px;
  background-color: #eaeae6;
}
.vtabs {
  position:relative;
  float:right;
  left:161px;
  width:160px;
  margin:0px;
  padding:0px;
  border:0px;
  padding-top:8px;
}
.newvtab {
  position:relative;
  padding-left:6px;
  padding-top:2px;
  padding-bottom:2px;
  margin-bottom:2px;
  cursor:pointer;
  font-size:12pt;
}
.newvtab:hover {
  color:white;
}
.vtab {
  cursor:pointer;
  border:1px solid #777777;
  border-left:0px;
  background-color:white;
  position:relative;
  margin-right:3px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  padding-right:0px;
  padding-left:6px;
  padding-top:4px;
  padding-bottom:4px;
}
.inactivevtab0 {
  background: -webkit-gradient(linear, left top, right top, from(#bbbbff), to(white));
}
.inactivevtab1 {
  background: -webkit-gradient(linear, left top, right top, from(#ff8888), to(white));
}
.inactivevtab2 {
  background: -webkit-gradient(linear, left top, right top, from(#99ff99), to(white));
}
.inactivevtab3 {
  background: -webkit-gradient(linear, left top, right top, from(#ffda70), to(white));
}
.inactivevtab0:hover, .inactivevtab1:hover, .inactivevtab2:hover, .inactivevtab3:hover {
  background-image: none;
  background-color: white;
}
.activevtab {
  left:-1px;
  padding-right:1px;
  margin-right:2px;
  background-color: white;
}
.pagesunread {
  background-color:red;
  color:white;
  font-size:9pt;
  padding-left:3px;
  padding-right:3px;
  border-radius:10px;
  margin-left:8px;
}
.activetab .pagesunread {
  font-size:10pt;
}
.authorsunread {
  float:right;
  background-color:red;
  color:white;
  font-size:9pt;
  padding-left:3px;
  padding-right:3px;
  border-radius:10px;
  margin-left:3px;
  margin-right:3px;
  min-width:8px;
}
.pagemarker {
  position:relative;
  top:-2px;
  float:right;
  padding-left:3px;
  padding-right:3px;
  color:orange;
}
.title {
  border:1px dashed #888888;
  -webkit-border-radius:12px;
  min-height:30px;
  min-width:240px;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  margin-left:36px;
  margin-top:20px;
  font-size:24pt;
  font-style:bold;
  outline:none;
}
.date {
  color:#888888;
  margin-left:48px;
  margin-top:3px;
  margin-bottom:20px;
}
.textbox {
  position:relative;
  min-heigth:20px;
  min-width:80px;
  margin-top:20px;
  margin-left:42px;
  font-size:12pt;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:6px;
}
.textbox:focus:before {
  content: " ";
  display:block;
  height:10px;
  background-color:#ccc;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  position:absolute;
  top:-10px;
  right:-1px;
  left:-1px;
  cursor:pointer;
  z-index:2;
}
.textbox:focus {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding-left:3px;
  padding-right:3px;
  padding-bottom:5px;
}
.share {
  position:relative;
  float: right;
  border-left:1px solid #888888;
  margin-top:20px;
  padding:8px;
  padding-left:2px;
  width:200px;
  min-height:300px;
  left:161px;
}
.friend {
  position:relative;
  height:34px;
  overflow:hidden;
  padding:8px;
  cursor:pointer;
}
.friend:hover {
  background-color:#789E35;
}
.friend-image {
  margin:3px;
  margin-left:0px;
  border:1px solid #ccc;
  float:left;
  display:block;
  width:27px;
  height:27px;
}
.friend-name {
  font-size:11pt;
}
.friend-id {
  font-size:10pt;
  color:#888
}
.friend:hover:after {
  content: "▾";
  position:absolute;
  font-size:12pt;
  left:180px;
  top:10px;
}
.friend:hover .friend-name {
  color:white;
}
.friend:hover .friend-id {
  color:#ccc;
}
.friendonline:before {
  content: " ";
  display:block;
  position:absolute;
  background-color:green;
  width:10px;
  height:10px;
  border-radius:5px;
  left:4px;
}
.friendaway:before {
  content: " ";
  display:block;
  position:absolute;
  background-color:orange;
  width:10px;
  height:10px;
  border-radius:5px;
  left:4px;
}
.sharebutton {
  padding:3px;
  padding-left:6px;
  font-size:12pt;
  color:black;
  cursor:pointer;
}
.sharebutton:hover {
  background-color:#789E35;
  color:white;
}
.lw_line {
  margin:0px;
  padding:0px;
  border:0px;
}
.invitations {
  padding:3px;
  padding-left:6px;
  font-size:12pt;
  color:black;
  cursor:pointer;
}
.invitations:last-child {
  visibility:hidden;
}
.invitations:before {
  content: " ";
  display:block;
  border-top:1px solid #888888;
  padding-top:16px;
  margin-left:20px;
  margin-right:20px;
}
.slide_head {
    padding-left:12px;
    padding-right:12px;
    padding-top:30px;
    margin-left:50px;
    margin-right:50px;
    font-size:44pt;
    font-family:Arial, Helvetica, Sans-serif;
    text-align:center;
    vertical-align:middle;
    min-height:100px;
}
.slide_body {
    padding:12px;
    margin-left:50px;
    margin-right:50px;
    font-size:32pt;
    font-family:Arial, Helvetica, Sans-serif;
}
.slide_head:focus, .slide_body:focus {
    outline-style:solid;
    outline-color:#a3c8ef;
    outline-width:1px;
}
.content {
    outline:none;
}
#wait_screen {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#000000; 
    opacity:0.5;
    display:none;
}
#pagecontent_fullscreen {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1000;
    display:none;
}
#pagecontent_fullscreen_scaled {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}
.resize {
  visibility: hidden;
  position:absolute;
  width:20px;
  height:20px;
  background-color:green;
  opacity:0.5;
  cursor:crosshair
}
.resize-nw {
  top:0px;
  left:0px;
}
.resize-ne {
  top:0px; right:0px;
}
.resize-sw {
  bottom:0px; left:0px;
}
.resize-se {
  bottom:0px; right:0px;
}
.selected .resize {
  visibility: visible;
}
.picture {
  border:1px solid #888888;
  transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  position:absolute;
  background:white;
  padding:12px;
  padding-bottom:42px;
  box-shadow:5px 5px 8px #888888;
}
